<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <!-- cua tao - Viet -->
            <div class="vi-main" style="margin:20px 20px 20px 25px">
                <!-- Content -->
                <div class="row vi-row">
                    <!-- Row left -->
                    <!-- Album Viet Nam-->
                    <div class="row">
                        <div class="row vi-head">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <h4 class="vi-nav"><a class="vi-type" style="color:green;width:100px;" href="">VIỆT NAM</a>
                                    <div class="vi-tl pull-right">
                                        <a style="color:green" href="#">Những video mới nhất</a> 
                                        <!-- <a href="#">Mới</a> -->
                                    </div>
                                </h4>
                            </div>
                        </div>
                        <div ng-repeat="video in vm.videosViet" class="col-xs-6 col-sm-4 col-md-2 portfolio-item" style="padding-left:0px;">
                            <a>
                                <div ui-sref="videoDetail({videoID:video._id})" class="vi-contain">
                                    <img class="img-responsive vi-img" style="height:150px" ng-src="/src/server/data/img/{{video.img}}">
                                    <div class="vi-middle">
                                        <img src="/src/server/data/img/play-button.png" style="margin:0 10px 25px 0;" height="80px;" width="80px;" alt="">
                                    </div>
                                </div>
                                <div><b ui-sref="videoDetail({videoID:video._id})">{{video.name}}</b></a><a><br><small>{{video.singer}}</small></div>
                            </a>
                            </div>
                        </div>
                        <!--end Viet Nam -->
                        <!-- Au My-->
                        <!-- Album Au My-->
                        <div class="row">
                            <div class="row vi-head">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <h4 class="vi-nav"><a class="vi-type" style="color:green;width:100px;" href="">ÂU MỸ</a>
                                        <div class="vi-tl pull-right">
                                            <!-- <a style="color:green" href="#">Hot</a> /
                                            <a href="#">Mới</a> -->
                                        </div>
                                    </h4>
                                </div>
                            </div>

                        </div>
                        <!--end Au My -->
                        <!-- Album Han Quoc-->
                        <div class="row">
                            <div class="row vi-head">
                                <div class="col-md-12 col-sm-12 col-lg-12">
                                    <h4 class="vi-nav"><a class="vi-type" style="color:green;width:100px;" href="">HÀN QUỐC</a>
                                        <div class="vi-tl pull-right">
                                            <!-- <a style="color:green" href="#">Hot</a> /
                                            <a href="#">Mới</a> -->
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <div ng-repeat="video in vm.videosHan" class="col-xs-6 col-sm-4 col-md-2 portfolio-item" style="padding-left:0px;">
                                <a>
                                    <div ui-sref="videoDetail({videoID:video._id})" class="vi-contain">
                                        <img class="img-responsive vi-img" style="height:150px" ng-src="/src/server/data/img/{{video.img}}">
                                        <div class="vi-middle">
                                            <img src="/src/server/data/img/play-button.png" style="margin:0 10px 25px 0;" height="80px;" width="80px;" alt="">
                                        </div>
                                    </div>
                                    <div><b ui-sref="videoDetail({videoID:video._id})">{{video.name}}</b></a><a><br><small>{{video.singer}}</small></div>
                            </a>
                                </div>
                            </div>
                            <!--end Han Quoc -->
                        </div>
                    </div>
                    <!-- / Content -->
                </div>
                <!--/ container-->
            </div>
    </section>
</section>